<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.5/phpunit.xsd"
	backupGlobals="false" colors="true" bootstrap='./vendor/autoload.php'
	stopOnError="true" stopOnFailure="true" displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
	<php>
		<ini name="error_reporting" value="-1" />
	</php>

	<testsuites>
		<testsuite name="all">
			<directory suffix="UnitTest.php">./Mezon</directory>
			<directory suffix="UnitTest.php">./vendor/mezon</directory>
		</testsuite>
		<testsuite name="self">
			<directory suffix="UnitTest.php">./Mezon</directory>
		</testsuite>
	</testsuites>

	<source>
        <include>
            <directory>./Mezon</directory>
        </include>
        <exclude>
        	<directory>./Mezon/*/Tests</directory>
        </exclude>
    </source>

	<coverage>
        <report>
            <html outputDirectory="./Tmp"/>
            <clover outputFile="./Tmp/coverage.xml"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>